# Ignore everything by default
/*

# Allow 01_src folder
!/01_src/

# Allow all files inside 01_src
!/01_src/**


# Do not ignore this file
!.gitignore
!CHANGELOG.md
!LICENSE
!README.md

# system files
Thumbs.db
ehthumbs.db
.DS_Store

# Logs
*.log

# Editor metadata
.vscode/
.idea/
*.code-workspace
